body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 420px) {
  .launch-patch-small {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 420px) {
  .launch-patch-small {
    margin-top: 15px;
  }
}

.social-media-icon {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.social-media-icon:hover {
  color: white;
}